*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
}
h1{
    font-size: 4rem;
    line-height: 5rem;
    color:black;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 4rem;
    font-weight:500;
    color: #0f352e;
}
h3{
    font-size: 2rem;
    line-height:3rem;
    color:black;
    font-weight: lighter;
}
h4{
    font-size: 1rem;
    line-height: 2rem;
    color:black;
}
p{
    font-size:1.5rem;
    color:rgb(86, 78, 93);
    margin:15px 0 20px 0;
    font-weight:500;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:rgb(237, 237, 215) ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;

}
#navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#navbar li{
    list-style: none;
    padding:0 20px;
}
#navbar li a:hover{
    opacity: 0.5;
    transition: 0.3s ease;
}
.main{
    position:relative;
    text-align: center;
}
.main-text{
    padding-left: 2.5rem;
    position: absolute;
    bottom: 6rem;
    left: 7rem;
    background-color: rgb(182, 233, 216);
    border-radius: 5%;
    text-align: left;
    height: 16rem;
    width:28rem;
}
.main .button{
    padding: 0.75rem 2rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #292929;
    border-radius: 500px;
    background-color: #0f352e;
    transition: color 300ms ease, background-color 300ms ease-in-out;
    font-family: Hkgrotesk, sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03125rem;
}
.about{
    padding: 10rem;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px); /* 2 rows */
    grid-gap: 10px; 
    line-height: 2rem;
}
#feature{
    justify-content: center;
    padding:5rem;
    display: flex;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
}
.feature-box{
    background-color: aliceblue;
    padding: 5rem;
    text-align: center;
    
}
.feature-box h4{
    padding: 0 1rem;
    margin-top: 2rem;
    background-color: rgb(157, 193, 193);
    border-radius: 15%;
}
#product{
    padding: 6rem;
    
}
#product .pro{
    justify-content: left;
    margin-top: 3rem;
    width: 21%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    background-color: rgb(214, 241, 247);
    border-radius: 5%;
}
.des h4{
    color: rgb(88, 141, 123);
}
#product .pro:hover{
    box-shadow:20px 20px 34px rgba(0,0,0,0.03) ;
}
#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  flex-wrap: wrap;
}
#banner{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding:1rem 6rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
#banner .banner-box1{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 40%;
    height: 40vh;
    background-position: center;
    background-size:cover;
    background-color: rgb(255, 186, 67);
    
}
#banner .banner-box2{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 40%;
    height: 40vh;
    background-position: center;
    background-size:cover;
    background-color: rgb(109, 158, 169);
    
}
#banner button{
    margin: 2rem;
    background-color: #fff;
    font-size: larger;
    padding: 0.2rem;
    
}
#banner button:hover{
    margin: 2rem;
    background-color: #aefc84;
    font-size: larger;
    padding: 0.2rem;
    
}
.offer-heading{
    margin-left: 6rem;
}
#newsletter .form{
    display: flex;
    width: 40%;

}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #212e55;
    background-position: 20% 30%;
    margin-top: 2rem;
    padding:1rem 6rem;

}
#newsletter .newstext h3{
    color: #fff;
}
#newsletter .newstext p{
    color: #e9cccc;
}
#newsletter .newstext span{
    color: #ffc822;
}
#newsletter input{
    height:3rem;
    padding:0 1.25em;
    font-size: 14px;
    width: 100%;
}
#newsletter button{
    background-color: #aefc84;
    padding: 0px;
}
.footer .row{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    padding-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.copyright{
    margin-top: 3rem;
    text-align: center;
}

.banner2 {
    position: relative;
}

.banner2 .image-container {
    position: relative;
}

.banner2-text {
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%); /* Center the text container */
    text-align: center;
    
}

.banner2-text h2
 {
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for better readability */
    color: #0e2302;
    font-weight: 500;
}
.banner2-text h3{
    color: #153936;
    font-weight: 500;
}